* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
}

img {
    width: 144px;
    height: 87px;
    border-radius: 4px;
}

header {
    width: 414px;
    height: 92px;
    background-color: #CF2B2B;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    position: fixed;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    z-index: 2;
}

.cabecalho {
    margin-left: 21px;
}

.cabecalho h1 {
    font-family: 'Righteous', cursive;
    color: #FFFFFF;
    font-size: 44px;
    font-style: normal;
    font-weight: 400;
}

.cabecalho p {
    font-size: 18px;
    font-weight: 400;
    color: #FFFFFF;
}

/*** Fim do Header ***/

.container {
    max-width: 414px;
    background-color: #e5e5e5;
    margin: 92px auto;
}

.opcoes {
    padding-top: 29px;
    padding-left: 19px;
}

.opcoes h1 {
    font-family: 'Righteous', cursive;
    font-size: 26px;
    font-style: normal;
    font-weight: 400;
    color: #333333;
}

.flex {
    display: flex;
    overflow-x: scroll;

}

.opcao {
    width: 172px;
    background-color: #ffffff;
    box-shadow: 0 0 10px -4px rgba(0, 0, 0, 0.25);
    border-radius: 9px;
    margin: 16px 17px 2% 0;
    cursor: pointer;
    box-sizing: border-box;
    position: relative;
}

.icone {
    text-align: right;
    display: none;
    position: absolute;
    bottom: 10px;
    right: 15px;
}

.block {
    display: block;
}

ion-icon {
    color: #32B72F;
    font-size: 20px;
}

.opcao-descricao {
    padding: 18px 14px 13px 14px;
}

.opcao-descricao h2 {
    font-size: 16px;
    font-weight: 700;
    color: #333333;
}

.opcao-descricao p {
    font-size: 15px;
    font-weight: 300;
    color: #a6a6a6;
    margin: 7px 0;
}

.opcao-descricao p:nth-child(4) {
    color: #000000;
    font-size: 16px;
    font-weight: 400;
    margin-top: 15px;
}

.none {
    display: none;
}

.preco {
    display: inline;
}

/*** fim das sessoes ***/

.selecionarItens {
    height: 92px;
    width: 414px;
    background-color: #ffffff;
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
}

.selecionarItens button {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 364px;
    height: 61px;
    border-radius: 50px;
    border: 0;
    text-align: center;
    padding: 0 70px;
    font-weight: 400;
    font-size: 20px;
    color: #FFFFFF;
}

.selecionarItens button:nth-child(1) {
    background-color: #cbcbcb;
}

.selecionado {
    box-shadow: inset 0px 0px 0px 5px #32B72F;
}

.clicavel {
    display: none;
}

.habilitado {
    background-color: #32B72F;
    font-weight: 700;
    font-size: 20px;
    cursor: pointer;
    display: block;
}

.telaBranca {
    width: 100%;
    height: 1078px;
    background-color: rgba(255, 255, 255, 0.9);
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 4;
}

.confirmarPedido {
    background: #50D074;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.25);
    border-radius: 9px;
    max-width: 377px;
    height: 380px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    z-index: 6;
}

.tituloConfirmar h1 {
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    color: #FFFFFF;
}

.detalhesPedido {
    display: flex;
    justify-content: space-between;
    width: 85%;
}

.nomePedidos p,
.precoPedidos p {
    padding: 13px 0;
    font-weight: 400;
    font-size: 22px;
    color: #FFFFFF;
}

.precoPedidos {
    text-align: right;
}

.nomePedidos .total,
.precoPedidos .total {
    font-weight: 700;
    font-size: 22px;
}

.confirmarBotoes {
    display: flex;
    flex-direction: column;
}

.tudoCerto {
    width: 329px;
    height: 52px;
    background: #FFFFFF;
    border-radius: 100px;
    color: #32B72F;
    font-weight: 700;
    font-size: 22px;
    cursor: pointer;
    border: 0;
}

.cancelar {
    font-weight: 700;
    font-size: 20px;
    background-color: #50D074;
    border: 0;
    color: #ffffff;
    margin-top: 5px;
    cursor: pointer;
}